In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ncgames = pd.read_excel('./data/ncgames.xlsx')
ncgames

          제목      장르      출시 플랫폼
0        리니지  MMORPG  1998.0  PC
1       리니지2  MMORPG  2003.0  PC
2  시티 오브 히어로  MMORPG  2004.0  PC
3        길드워  MMORPG  2006.0  PC
4        아이온  MMORPG  2008.0  PC
5    리니지 이터널  MMORPG     NaN  PC

In [3]:
ncgames['제목']

0          리니지
1         리니지2
2    시티 오브 히어로
3          길드워
4          아이온
5      리니지 이터널
Name: 제목, dtype: object

In [4]:
ncgames[['제목', '출시']]

          제목      출시
0        리니지  1998.0
1       리니지2  2003.0
2  시티 오브 히어로  2004.0
3        길드워  2006.0
4        아이온  2008.0
5    리니지 이터널     NaN

In [5]:
ncgames[['제목']]

          제목
0        리니지
1       리니지2
2  시티 오브 히어로
3        길드워
4        아이온
5    리니지 이터널

In [6]:
ncgames = ncgames.set_index('제목')

In [7]:
ncgames

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC
리니지 이터널    MMORPG     NaN  PC

In [8]:
장르 = ncgames['장르']
장르

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

In [9]:
장르.index

Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

In [10]:
장르.values

array(['MMORPG', 'MMORPG', 'MMORPG', 'MMORPG', 'MMORPG', 'MMORPG'],
      dtype=object)

In [11]:
장르['리니지']

'MMORPG'

In [12]:
Series({'블레이드 앤 소울': 'MMORPG'})

블레이드 앤 소울    MMORPG
dtype: object

In [13]:
Series(['MMORPG'], index=['블레이드 앤 소울'])

블레이드 앤 소울    MMORPG
dtype: object

In [14]:
ncgames

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC
리니지 이터널    MMORPG     NaN  PC

In [15]:
DataFrame(
{
    '장르': ['MMORPG'] * 2,
    '플랫폼': ['모바일'] * 2
})

       장르  플랫폼
0  MMORPG  모바일
1  MMORPG  모바일

In [16]:
DataFrame(
{
    '장르': ['MMORPG'] * 2,
    '플랫폼': ['모바일'] * 2
}, index= ['X', 'Y'])

       장르  플랫폼
X  MMORPG  모바일
Y  MMORPG  모바일

In [17]:
DataFrame(
{
    '장르': {
        'X': 'MMORPG',
        'Y': 'MMORPG',},
    '플랫폼': {
        'X': '모바일',
        'Y': '모바일',},
})

       장르  플랫폼
X  MMORPG  모바일
Y  MMORPG  모바일

In [18]:
ncgames.index

Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

In [19]:
ncgames.loc['리니지']

장르     MMORPG
출시       1998
플랫폼        PC
Name: 리니지, dtype: object

In [20]:
ncgames.loc[['아이온','리니지']]

         장르      출시 플랫폼
제목
아이온  MMORPG  2008.0  PC
리니지  MMORPG  1998.0  PC

In [21]:
ncgames.columns

Index(['장르', '출시', '플랫폼'], dtype='object')

In [22]:
장르 = ncgames['장르']
장르

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

In [23]:
장르.name

'장르'

In [24]:
ncgames[['장르', '출시']]

               장르      출시
제목
리니지        MMORPG  1998.0
리니지2       MMORPG  2003.0
시티 오브 히어로  MMORPG  2004.0
길드워        MMORPG  2006.0
아이온        MMORPG  2008.0
리니지 이터널    MMORPG     NaN

In [25]:
ncgames.loc['리니지', '출시']

1998.0

In [26]:
ncgames.loc['리니지', ['출시', '장르']]

출시      1998
장르    MMORPG
Name: 리니지, dtype: object

In [27]:
ncgames.loc[['리니지', '아이온'], '출시']

제목
리니지    1998.0
아이온    2008.0
Name: 출시, dtype: float64

In [28]:
ncgames.loc[['리니지', '아이온'], ['출시', '장르']]

         출시      장르
제목
리니지  1998.0  MMORPG
아이온  2008.0  MMORPG

In [29]:
ncgames[:2]

          장르      출시 플랫폼
제목
리니지   MMORPG  1998.0  PC
리니지2  MMORPG  2003.0  PC

In [30]:
ncgames[-2:]

             장르      출시 플랫폼
제목
아이온      MMORPG  2008.0  PC
리니지 이터널  MMORPG     NaN  PC

In [31]:
ncgames[1:-1]

               장르      출시 플랫폼
제목
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC

In [32]:
ncgames[::2]# 홀수

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
아이온        MMORPG  2008.0  PC

In [33]:
ncgames[1::2]# 짝수

             장르      출시 플랫폼
제목
리니지2     MMORPG  2003.0  PC
길드워      MMORPG  2006.0  PC
리니지 이터널  MMORPG     NaN  PC

In [34]:
ncgames['리니지':'아이온']

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC

In [37]:
게임21세기 = ncgames.출시 > 2000 # NaN은 비교시 무조건 False
게임21세기

제목
리니지          False
리니지2          True
시티 오브 히어로     True
길드워           True
아이온           True
리니지 이터널      False
Name: 출시, dtype: bool

In [38]:
ncgames[게임21세기]

               장르      출시 플랫폼
제목
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC