In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ncgames = pd.read_excel('./data/ncgames.xlsx')
ncgames = ncgames.set_index('제목')
ncgames

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC
리니지 이터널    MMORPG     NaN  PC

In [3]:
출시 = ncgames['출시'].copy()
출시

제목
리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
Name: 출시, dtype: float64

In [4]:
출시['리니지 모바일'] = 2016
출시

제목
리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일      2016.0
Name: 출시, dtype: float64

In [5]:
신작 = Series({
    'X': 2020,
})
출시.append(신작)

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일      2016.0
X            2020.0
dtype: float64

In [6]:
신작게임 = Series({
    'X': 2020,
    'Y': 2030,
})
출시.append(신작게임)

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일      2016.0
X            2020.0
Y            2030.0
dtype: float64

In [7]:
ncgames.loc['리니지 모바일'] = Series({
    '장르': 'RPG',
    '플랫폼': '모바일',
    '지역': '한국',
})
ncgames

               장르      출시  플랫폼
제목
리니지        MMORPG  1998.0   PC
리니지2       MMORPG  2003.0   PC
시티 오브 히어로  MMORPG  2004.0   PC
길드워        MMORPG  2006.0   PC
아이온        MMORPG  2008.0   PC
리니지 이터널    MMORPG     NaN   PC
리니지 모바일       RPG     NaN  모바일

In [8]:
신작게임들 = DataFrame({
    '장르': {'X': 'RPG', 'Y': 'RPG'},
    '플랫폼': {'X': '모바일', 'Y': '모바일'},
})
신작게임들

    장르  플랫폼
X  RPG  모바일
Y  RPG  모바일

In [9]:
ncgames = ncgames.append(신작게임들)
ncgames

               장르      출시  플랫폼
리니지        MMORPG  1998.0   PC
리니지2       MMORPG  2003.0   PC
시티 오브 히어로  MMORPG  2004.0   PC
길드워        MMORPG  2006.0   PC
아이온        MMORPG  2008.0   PC
리니지 이터널    MMORPG     NaN   PC
리니지 모바일       RPG     NaN  모바일
X             RPG     NaN  모바일
Y             RPG     NaN  모바일

In [10]:
출시 = ncgames['출시'].copy()
출시

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일         NaN
X               NaN
Y               NaN
Name: 출시, dtype: float64

In [13]:
출시.drop('X')

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일         NaN
Y               NaN
Name: 출시, dtype: float64

In [14]:
출시.drop(['X', 'Y'])

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
리니지 모바일         NaN
Name: 출시, dtype: float64

In [15]:
ncgames.drop('X')

               장르      출시  플랫폼
리니지        MMORPG  1998.0   PC
리니지2       MMORPG  2003.0   PC
시티 오브 히어로  MMORPG  2004.0   PC
길드워        MMORPG  2006.0   PC
아이온        MMORPG  2008.0   PC
리니지 이터널    MMORPG     NaN   PC
리니지 모바일       RPG     NaN  모바일
Y             RPG     NaN  모바일

In [16]:
ncgames.drop(['X', 'Y'])

               장르      출시  플랫폼
리니지        MMORPG  1998.0   PC
리니지2       MMORPG  2003.0   PC
시티 오브 히어로  MMORPG  2004.0   PC
길드워        MMORPG  2006.0   PC
아이온        MMORPG  2008.0   PC
리니지 이터널    MMORPG     NaN   PC
리니지 모바일       RPG     NaN  모바일

In [17]:
ncgames.drop('지역', axis=1)

ValueError: labels ['지역'] not contained in axis